$dropcap-margin: $base-unit *2;
@mixin dropcap ($name, $size){
    .#{$name}:first-letter {
        margin-top: 2/3 * 1ex;
        margin-bottom: 1/3 * 1ex;
        padding-right: $dropcap-margin;
        font-size: 8ex;
        float: left;
        top: 0;
        display: inline-block;
        @content;
    }
}

@include dropcap('dropcap', 8ex){
    color:red;
    font-weight: bold;
}